apiVersion: v1
kind: Secret
metadata:
  namespace: crossplane-system
  name: example-provider-secret
type: Opaque
data:
  credentials: YWRtaW46Z29kY3JhY2tlcjEyMwo=
---
apiVersion: harbor.crossplane.io/v1alpha1
kind: ProviderConfig
metadata:
  name: example
spec:
  harborUrl: "http://localhost:8090/api"
  insecure: true
  credentials:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: example-provider-secret
      key: credentials
